
# Visual Studio Code cache
.vscode/

# Bin Directory
Desafio_de_Codigo/Basico1/bin/
Desafio_de_Codigo/Basico2/bin/
Desafio_de_Codigo/Basico3/bin/
Desafio_de_Codigo/Intermediario1/bin/
Desafio_de_Codigo/Intermediario2/bin/
Desafio_de_Codigo/Intermediario3/bin/
Exercicio_EF/bin/

# Obj Directory
Desafio_de_Codigo/Basico1/obj/
Desafio_de_Codigo/Basico2/obj/
Desafio_de_Codigo/Basico3/obj/
Desafio_de_Codigo/Intermediario1/obj/
Desafio_de_Codigo/Intermediario2/obj/
Desafio_de_Codigo/Intermediario3/obj/
Exercicio_EF/obj/