
# Visual Studio cache
.vscode/

# Bin Directory
B_DesafiosBasicos/Basico1/bin/
B_DesafiosBasicos/Basico2/bin/
B_DesafiosBasicos/Basico3/bin/
C_DesafiosIntermediarios/Intermediario1/bin/
C_DesafiosIntermediarios/Intermediario2/bin/
C_DesafiosIntermediarios/Intermediario3/bin/

# Obj Directory
B_DesafiosBasicos/Basico1/obj/
B_DesafiosBasicos/Basico2/obj/
B_DesafiosBasicos/Basico3/obj/
C_DesafiosIntermediarios/Intermediario1/obj/
C_DesafiosIntermediarios/Intermediario2/obj/
C_DesafiosIntermediarios/Intermediario3/obj/
