
# Visual Studio cache
.vscode/

# Bin Directory
.B_DesafiosBasicos/Basico1/bin/
.B_DesafiosBasicos/Basico2/bin/
.B_DesafiosBasicos/Basico2/bin/
.C_DesafiosIntermediarios/intermediario1/bin/
.C_DesafiosIntermediarios/intermediario2/bin/
.C_DesafiosIntermediarios/intermediario3/bin/